body {
    background-image: url("/frontend/immagini/pexels-fariphotography-905847.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    margin-top: 100px;
}

.form-input {
    height: 400px;
    margin: 30px;
    padding: 70px;
}

.form-input div {
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    
}

label {
    color: white;
    font-size: 25px;
    margin-right: 20px;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 80px;
}

.conteiner-torna-indietro {
    bottom: 10px;
    border: 2px solid white;
    width: 140px;
    display: flex;
    justify-content: center;
    background-color: darkorange;
    border-radius: 20px;
    margin-top: 10px;
    
}

.conteiner-torna-indietro a {
    color: white;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

button {
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
}

.link-modifica {
    border: 1px solid white;
    background-color: black;
}

.link-modifica a {
    color: white;
    text-decoration: none;
}