body {
    width: 100vw;
    background-color: black;
   overflow-x: hidden;
}

.logo {
    height: 140px;
    width: 150px;
   
}

header nav {
    display: flex;
    font-size: 40px;
}

.container-logo {
    margin-right: 250px;
}

main {
    height: 600px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
   font-size: 30px;
   color: white;
}

.menu-category {
    cursor: pointer;
    text-decoration: underline;
    margin: 50px 0;
}

.menu-category:hover {
    color: orange;
}

.menu-item img {
    height: 200px;
    width: 210px;
    margin: 20px;
}

.menu-item {
    border: 1px solid white;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.text-container {
    margin: 30px;
    color: white;
    font-size: 30px;
}

.conteiner-torna-indietro {
    bottom: 10px;
    
    width: 140px;
    display: flex;
    justify-content: center;
    background-color: darkorange;
    border-radius: 20px;
    margin-top: 10px;
    
}

.conteiner-torna-indietro:hover {
    background-color: #CD6600;
}

.conteiner-torna-indietro a {
    color: black;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

h1 {
    color: white;
}

.footer-container {
    height: 300px;
    background-image: url('/frontend/immagini/pizza-sfondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    margin-top: 50px;
}

.footer-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: white;
}

.paragrafo-footer {
    background-color: black;
    border: 4px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    font-weight: bolder;
    font-size: 20px;
}

.paragrafo-footer, a {
    color: white;
}