* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container {
    background-color: black;
}

.logo {
    height: 140px;
    width: 150px;
   
}

header nav {
    width: 100vw;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

.chi-siamo, .prenota {
    padding: 10px;
    border: 1px solid white;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.menu ul {
    display: flex;
    
}

.menu ul li {
    list-style: inside;
    font-size: 15px;
    background-color: darkorange;
}


.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    
}

.discount {
    width: 100vw;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid red;
}

.jumbo {
    width: 100vw;
    height: 600px;
    border: 2px solid white;
    background-image: url('/frontend/immagini/pizza1.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbo-text {
    background-color: darkorange;
    width: 400px;
    height: 130px;
    border: 5px solid white;
    padding: 20px;
}

.jumbo-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cta-1 {
    background-color: white;
    margin-right: 10px;
    font-weight: bold;
}

.cta-2 {
    background-color: black;
    font-weight: bold;
    
}

.cta-1, .cta-2, a {
    text-decoration: none;
}

.cta-1-text {
    color: black;
}

.cta-2-text {
    color: white;
}

.cta {
    border-radius: 20px;
    padding: 10px;
    
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

main, section {
    margin-top: 20px;
}

.descrizione {
    margin: 0 60px;
    font-family: "Single Day";
    font-size: 30px;
}

.paragrafo-descrizione {
    text-align: center;
    color: white;
}

.h2-text {
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
    color: white;
}

.footer-container {
    height: 300px;
    background-image: url('/frontend/immagini/pizza-sfondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    margin-top: 50px;
}

.footer-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: white;
}

.paragrafo-footer {
    background-color: black;
    border: 4px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    font-weight: bolder;
    font-size: 20px;
}

.paragrafo-footer, a {
    color: white;
}