* {
    border: none;  /* Rimuove tutti i bordi */
    margin: 0;     /* Aggiunge un reset dei margini, che può essere utile */
    padding: 0;    /* Aggiunge un reset dei padding, per uniformare gli spazi */
}

.container {
    background-color: black;
}

header {
    width: 100;
    height: 120px;
    border: 1px solid white;
}

.logo {
    max-height: 120%;          /* Imposta l'altezza massima dell'immagine */
    height: auto; 
}

.logo-container {
    height: 100px;
    width: 100px;
    
}